<!DOCTYPE html>
<html lang="en">

<div>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- ===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="/template_styling/register.css">
    <link rel="stylesheet" href="/template_styling/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</div>
<div class="banner">
    <a href="https://www.buffalo.edu/" target="_blank"><img src="images/logo.png" alt="logo" width="150" height="150" class="banner-image"></a>
    <a class="reference" href="/" style="text-decoration:none" onmouseover="style='text-decoration:underline'" onmouseout="style='text-decoration:none'">About Us</a>
    <a class="reference" href="https://catalog.buffalo.edu/courses/" target="_blank" style="text-decoration:none" onmouseover="style='text-decoration:underline'" onmouseout="style='text-decoration:none'">UB Course Catalog </a>
    <a class="reference" href="/" style="text-decoration:none" onmouseover="style='text-decoration:underline'" onmouseout="style='text-decoration:none'">Features</a>
    <a class="reference" href="/" style="text-decoration:none" onmouseover="style='text-decoration:underline'" onmouseout="style='text-decoration:none'">Home</a>
    <h2 class="site_title">CourseXplore</h2>
</div>

<!-- The form -->

<body>
<div class="box2">
    <div class="registered2">
        <form class="example" action="/">
          <input type="text" placeholder="Search.." name="search">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
</div>
</body>
</html>
