<!DOCTYPE html>
<html lang="en">

<div>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- ===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!-- ===== CSS ===== -->
    <link rel="stylesheet" href="/template_styling/register.css">

</div>
<div class="banner">
    <a href="https://www.buffalo.edu/" target="_blank"><img src="images/logo.png" alt="logo" width="150" height="150" class="banner-image"></a>
    <a class="reference" href="/" style="text-decoration:none" onmouseover="style='text-decoration:underline'" onmouseout="style='text-decoration:none'">About Us</a>
    <a class="reference" href="https://catalog.buffalo.edu/courses/" target="_blank" style="text-decoration:none" onmouseover="style='text-decoration:underline'" onmouseout="style='text-decoration:none'">UB Course Catalog </a>
    <a class="reference" href="/" style="text-decoration:none" onmouseover="style='text-decoration:underline'" onmouseout="style='text-decoration:none'">Features</a>
    <a class="reference" href="/" style="text-decoration:none" onmouseover="style='text-decoration:underline'" onmouseout="style='text-decoration:none'">Home</a>
    <h2 class="site_title">CourseXplore</h2>
</div>


<body>
<div class="box">
    <div class="registered">
    <h2 style="color: white">You have successfully registered an account. You will now be redirected to the log-in page.</h2>
    </div>
</div>
</body>
</html>
